body {
    font-family: 'Arial', sans-serif;
    color: greenyellow;
    font-size: small;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh; /* Важно для корректного позиционирования */
  }

.stat{
  width:max-content;
  height: max-content;
  color: yellowgreen;
  font-size: 14px;
  font-family: monospace;
  margin-top: 8%;
  margin-left: 0.5%;
}
.data{
  display: flex;
  justify-content: left;
}
