body {
    font-family: 'Arial', sans-serif;
    color: greenyellow;
    font-size: small;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh; /* Важно для корректного позиционирования */
  }

.stat{
  width:max-content;
  height: max-content;
  color: azure;
  font-size: 17px;
  background-color: lightslategray;
  margin-top: 2%;
  margin-left: 0.5%;

}
.data{
  display: flex;
  justify-content: right;
}
